/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position:relative;
    font-weight: bold; /* Tambahkan huruf lebih tebal */
    color: navy; /* Tambahkan warna huruf */
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="number"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    width: 25%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.output-container {
    text-align: center;
}

#icon {
    font-size: 48px;
    margin-top: 10px;
    position: absolute;
    top: 50px;
    right: 10px;
}
